{% extends "recipes/base.html" %}

{% block title %}Каталог рецептов - Dieto.log{% endblock %}

{% block content %}

    <hgroup>
        <h1>Каталог рецептов</h1>
        <h2>Найдите что-то вкусное и полезное</h2>
    </hgroup>
        
    <form method="GET" action="{% url 'recipes:recipe_list' %}" class="grid">
    <!-- Фильтр по диете -->
        <select name="diet">
            <option value="">Все диеты</option>
            {% for diet in diets %}
                <option value="{{ diet.id }}" {% if diet.id == selected_diet_id %}selected{% endif %}>
                    {{ diet.name }}
                </option>
            {% endfor %}
        </select>

        <!-- ФИЛЬТР ПО ТИПУ БЛЮДА -->
        <select name="meal_type">
            <option value="">Все приемы пищи</option>
            {% for value, name in meal_types %}
                <option value="{{ value }}" {% if value == selected_meal_type %}selected{% endif %}>
                    {{ name }}
                </option>
            {% endfor %}
        </select>
    
        <!-- Поиск по тексту -->
        <input type="text" name="q" placeholder="Поиск по названию или описанию..." value="{{ search_query|default:'' }}">
    
        <button type="submit">Найти</button>
    </form>
    <hr>
        
    <!-- Используем grid для вывода рецептов в несколько колонок -->
    <div class="card-grid">
        {% for recipe in recipes %}
            <article>
                {% if recipe.image %}
                    <header>
                        <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" style="height: 200px; width: 100%; object-fit: cover;">
                    </header>
                {% endif %}
                <h5 style="margin-bottom: 0;">{{ recipe.name }}</h5>
                <small>Время: {{ recipe.cooking_time }} мин. | Порций: {{ recipe.servings }}</small>
                <p style="height: 4.5em; overflow: hidden;">{{ recipe.description }}</p>
                <footer>
                    <a href="{% url 'recipes:recipe_detail' recipe_id=recipe.id %}" role="button">Подробнее</a>
                </footer>
            </article>
        {% empty %}
            <p>Пока в базе нет ни одного рецепта.</p>
        {% endfor %}
    </div>

{% endblock %}