{% extends "recipes/base.html" %}

{% block title %}{{ recipe.name }} - Dieto.log{% endblock %}

{% block content %}

    <article>
        <header>
            {% if recipe.image %}
                <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" style="width:100%; height:auto; border-radius: var(--pico-border-radius);">
            {% endif %}
            <h1>{{ recipe.name }}</h1>
            <p>{{ recipe.description }}</p>
        </header>

        <div class="grid">
            <!-- Блок с ингредиентами -->
            <section>
                <h3>Ингредиенты (на {{ recipe.servings }} порц.)</h3>
                <ul>
                    {% for item in recipe.recipeingredient_set.all %}
                        <li>{{ item.ingredient.name }} - {{ item.display_amount }} {{ item.display_unit }}</li>
                    {% endfor %}
                </ul>
            </section>

            <!-- Блок с КБЖУ -->
            <section>
                <h3>Пищевая ценность (на 1 порцию)</h3>
                <table>
                    <tbody>
                        <tr>
                            <td>Калории</td>
                            <td><strong>{{ nutrition.calories_per_serving }} ккал</strong></td>
                        </tr>
                        <tr>
                            <td>Белки</td>
                            <td>{{ nutrition.proteins_per_serving }} г</td>
                        </tr>
                        <tr>
                            <td>Жиры</td>
                            <td>{{ nutrition.fats_per_serving }} г</td>
                        </tr>
                        <tr>
                            <td>Углеводы</td>
                            <td>{{ nutrition.carbs_per_serving }} г</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>

        <h3>Инструкция по приготовлению</h3>
        <div>{{ recipe.instructions|linebreaksbr }}</div>
    </article>
{% endblock %}