.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}

footer {
    border-top: 1px solid var(--pico-muted-border-color);
    margin-top: 3rem;
    padding-top: 1.5rem !important;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid var(--pico-muted-border-color);
    margin-bottom: 2rem;
}

.main-nav .nav-logo, 
.main-nav .nav-links a {
    text-decoration: none;
    color: var(--pico-contrast);
    font-weight: bold;
}

.main-nav .nav-logo:hover, 
.main_nav .nav-links a:hover {
    color: var(--pico-primary-hover);
}

.nav-links a {
    margin-left: 1.5rem;
}

.catalog-filters-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem;
    align-items: end;
}

.catalog-filters-grid .ingredient-filter {
    grid-column: 1 / -1;
}

.recipe-header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
}

.card-grid article {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-grid article footer {
    margin-top: auto;
}

.recipe-card-description {
    height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 0.8rem;
    font-style: italic;
}

.ingredient-filter {
    position: relative;
}

.ingredient-filter summary {
    border: 1px solid var(--pico-form-element-border-color);
    border-radius: var(--pico-border-radius);
    padding: 0.75rem 2.5rem 0.75rem 1rem;
    cursor: pointer;
    outline-color: var(--pico-primary-focus);
    position: relative; 
    list-style: none;
}

.ingredient-filter summary::-webkit-details-marker {
    display: none;
}

.ingredient-filter summary::after {
    content: '';
    display: block;
    
    /* Рисуем стрелку с помощью границ */
    width: 8px;
    height: 8px;
    border-bottom: 2px solid var(--pico-muted-color);
    border-right: 2px solid var(--pico-muted-color);
    position: absolute;
    top: 50%;
    right: 1rem;
    
    /* Поворот и анимация */
    transform: translateY(-60%) rotate(45deg);
    transition: transform 0.2s ease-in-out;
}

.ingredient-filter[open] > summary::after {
    transform: translateY(-40%) rotate(-135deg);
}

.ingredient-filter ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    
    background-color: var(--pico-card-background-color);
    border: 1px solid var(--pico-form-element-border-color);
    border-radius: var(--pico-border-radius);
    margin-top: 0.25rem;
    
    max-height: 250px;
    overflow-y: auto;
    list-style-type: none;
    padding: 0.5rem;
}

.ingredient-filter li label {
    display: block;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0;
    cursor: pointer;
    border-radius: var(--pico-border-radius);
}

.ingredient-filter li label:hover {
    background-color: var(--pico-muted-background-color);
}

.diet-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.diet-card input[type="radio"] {
    display: none;
}

.diet-card label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 2px solid var(--pico-muted-border-color);
    border-radius: var(--pico-border-radius);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    height: 100%;
}

.diet-card .diet-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 0.75rem;
}

.diet-card input[type="radio"]:checked + label {
    border-color: var(--pico-primary);
    background-color: var(--pico-primary-background);
    box-shadow: 0 0 0 3px var(--pico-primary-focus);
}

.diet-card label:hover {
    border-color: var(--pico-primary-hover);
}

@media (prefers-color-scheme: dark) {
    .diet-icon {
        filter: invert(1) brightness(2);
    }
}


button,
input[type="submit"],
.pico button,
.pico input[type="submit"] {
    --pico-background-color: #5cc760 !important;
    --pico-border-color: #569659 !important;
}

button:hover,
input[type="submit"]:hover,
.pico button:hover,
.pico input[type="submit"]:hover {
    --pico-background-color: #429f47 !important;
}

.diet-card input[type="radio"]:checked + label {
    border-color: #52b558d6 !important;
    background-color: rgba(138, 177, 139, 0.1) !important;
    box-shadow: none !important;
}

@media (max-width: 968px) {
  
  .catalog-filters-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

   .main-nav {
    margin-bottom: 1rem;
  }

  .recipe-header-grid {
    grid-template-columns: 1fr;
  }
}